@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Contact Directory with ASP.NET</h1>
    <p class="lead">Contact Directory for an organisation</p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Contact</h2>
        <p>It has details of employees's contact.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Group</h2>
        <p> It is a subpart of contact directory which includes  </p>
    </div>
    <div class="col-md-4">
        <h2>Distribution List</h2>
        <p> It is a sub-part of Contact Directory. It has all the details of employees with a pre-designed list of employees according to their role and department in an orgainsation. </p>
    </div>
</div>